
    <main class="about-main">
      <div class="about-main-wrapper">

        <div class="what-we-do">
					<div>
						<h1>About Us</h1>
          	<p>Bread of the Mighty Food Bank is a Partner Distribution Organization under Feeding America.  Our 20,000 square foot warehouse has 2,600 square feet of cooler and freezer capacity.  Thanks to our generous donors, we now have a fleet of 11 trucks and vans.  We're on the road five days a week picking up donated food from generous retailers and wholesalers that in turn gets distributed back to the community.</p>
					</div>
						<img class="about-collage" src="../img/about-main-aisle1.png" alt="Bread of the Mighty Food Bank"></a>
        </div>
      </div>
    </main>



		<section class="about-maps">
			<div class="about-maps-wrapper">
				<img class="about-map" src="../img/about_map.png" alt="Bread of the Mighty Food Bank">
				<p>Bread of the Mighty Food Bank serves a five county service area; Alachua, Dixie, Gilchrist, Lafayette and Levy. In an effort to keep perishable and fresh items from sitting in our warehouse, our "Food on the Move" program was established. This ensures fresh & perishable items don't sit in the warehouse and quickly gets into the hands of those in need.</p>
			</div>
		</section>


		<div class="meet-team">
			<h2>Meet the Team</h2>
			<div class="meet-team-wrapper">

				<div class="person">
					<img src="../img/person9.png" alt="Bread of the Mighty Food Bank">
					<p>Marcia Conwell<br>CEO/President<p>
				</div>
				<div class="person">
					<img src="../img/person3.png" alt="Bread of the Mighty Food Bank">
					<p>Tami Gray<br>Chief Financial Officer<p>
				</div>
				<div class="person">
					<img src="../img/person6.png" alt="Bread of the Mighty Food Bank">
					<p>Bob Lieber<br>USDA Coordinator<p>
				</div>

				<div class="person">
					<img src="../img/person1.png" alt="Bread of the Mighty Food Bank">
					<p>James Littles<br>Operations Managers<br><i class="fa fa-envelope-o" aria-hidden="true"></i><p>
				</div>
				<div class="person">
					<img src="../img/person4.png" alt="Bread of the Mighty Food Bank">
					<p>Carla Hill<br>Director of Development<p>
				</div>
				<div class="person">
					<img src="../img/person2.png" alt="Bread of the Mighty Food Bank">
					<p>Ron Dolbeck<br>Director of Child Nutrition<p>
				</div>
			</div>
    </div>
