<section class="contact">
  <div class="contact-wrapper">
    <div id="map"></div>
    <div class="contact-form">
      <h2>Hours</h2>
      <p>Monday - Friday: 8:00am - 4:00pm</p>
      <h2>Stop By</h2>
      <p>325 NW 10th Avenue<br>Gainesville, FL 32601</p>
      <h2>Call Us</h2>
      <p>(352) 336-0839</p>
      <h2>Send a Message</h2>
      <form action="#" id="contact-form" class="cf">
				<input type="email" id="contact-email" name="contact-email" placeholder="Email"><br>
				<input type="text" id="subject" name="subject" placeholder="Subject"><br>
				<textarea name="message" id="message" placeholder="Your Message"></textarea><br>
				<button type="submit">SEND <i class="fa fa-angle-right"></i></button>
			</form>
    </div>
  </div>
</section>
