<div class="donate-top-banner">
	<div class="donate-banner-image">
		<div class="donate-today">
			<h1>DONATE TODAY!</h1>
		</div>
	</div>
</div>

<section class="donate-2-main">
	<div class="donate-wrap">
		<div class="don-col-1">
			<p><i class="fa fa-cutlery food-donation" aria-hidden="true"></i></p>
			<h2>Food Donations</h2>
			<p>Please drop of any food donations at the Bread of the Mighty Food Bank.</p>
			<p class="mtb5">Monday - Friday</p>
			<p class="mtb5">8:00 am - 4:00 pm</p>
			<p class="mtb5">325 NW 10th Avenue</p>
			<p class="mtb5">Gainesville, FL 32601</p>
		</div>
		<div class="don-col-2">
			<p><i class="fa fa-money money-donation" aria-hidden="true"></i></p>
			<h2>Monetary Donations</h2>
			<p>Please consider making a monetary donation. Your donation allows us to help those in need. For every $1.00 donated, we can provide up to 7 nutritious meals and $0.94 of every $1.00 raised goes directly to the local community.</p>
			<div class="payment-methods">
			<a href="https://www.paypal.com/donate/?token=rQaxI90YMuSvNLaNT9-lk7vf2Nt12jmusg0PTealeh574NxbtoXUjfQXyY83T0_JRdqwz0"><i class="fa fa-cc-paypal" aria-hidden="true"></i></a>
			<a href="https://www.amazon.com/gp/registry/wishlist/?ie=UTF8&cid=A396IE1A5NMXEU"><i class="fa fa-amazon" aria-hidden="true"></i></a>
			<a href="https://breadofthemighty.ejoinme.org/MyPages/DonationPage/tabid/435588/Default.aspx"><i class="fa fa-credit-card" aria-hidden="true"></i></a>
			</div>
		</div>
		</div>

</section>
