
	<main class="events-main">
		<div class="events-main-wrapper">
			<h1>Upcoming Events</h1>
			<div class="events1">
				<p>The Bread of the Mighty Food Bank Summer Food Program hosted 27 sites during the 2016 summer break and provided 45,000 free meals to school aged students through this program. This program collaborates with community partners to provide breakfast, lunch and a snack to kids during the summer months.</p>
				<img src="../img/empty-bowl-1.png" alt="Empty Bowls" class="events-image">
			</div>
		</div>

		<div class="events-main-wrapper no-border">
			<div class="events2">
				<img src="../img/hunger-action.jpg" alt="Kids Cafe" class="hunger-action-image">
				<p>We launched our Bread of the Mighty Food Bank's Kids Cafe'in  October of 2007 with 4 locations serving snacks.  Today we have several programs and over 40 community partners.  Over 1 million meals and snacks have been served since 2007! In 2015-16, The Kid's Cafe provided 215,000 snacks to the children of our community. This program operates during the school year and works with existing after school programs to provide free drinks, fresh fruit and snacks to kids. </p>
			</div>
		</div>
	</main>
