<main class="home-main">
  <div class="fi">
    <h1>FRIENDS FEEDING FRIENDS</h1>
    <p><em>since 1987</em></p>
  </div>
</main>

<section class="home-about">
  <div class="home-about-wrapper">
    <p>Bread of the Mighty Food Bank is a private non-profit organization founded in 1987.  We collect, sort, store and distribute donated food and basic essentials to 150+ non-profit agency partners such as food pantries, churches, Catholic Charities, homeless shelters and other organizations who directly feed the hungry.</p>
  </div>
</section>

<section class="signup">
  <div class=signup-wrapper>
    <h2>Newsletter Signup</h2>
    <form ng-submit='signup(newUser)'>
        <input type="email" id="fname" name="fname" placeholder="Email" ng-model='newUser.email' ng-required='true'>
        <input type="submit" value="Submit">
      </form>
  </div>
</section>

<section class="stats">
  <div class="stats-wrapper">
    <div class="stats-1">
      <p><i class="fa fa-users" aria-hidden="true"></i><br>1 in 5 adults and 1 in 4 children in our community are hungry.</p>
    </div>
    <div class="stats-2">
      <p><i class="fa fa-cutlery" aria-hidden="true"></i><br>For every $1.00 donated, we can provide up to 7 nutritious meals.</p>
    </div>
    <div class="stats-3">
      <p><i class="fa fa-money" aria-hidden="true"></i><br>$0.94 of every $1.00 raised goes directly to the local community.</p>
    </div>
  </div>
</section>

<section class="partners">
  <div class="partners-wrapper">
    <h2>Our Partners</h2>
    <div class="partners-flex">
      <img src="../img/usda_logo.png" alt="USDA">
      <img src="../img/united-way-logo.png" alt="United Way">
      <img src="../img/feeding-america-logo.png" alt="Feeding America">
      <img src="../img/walmart-logo.png" alt="Walmart">
      <img src="../img/publix-logo.png" alt="Publix">
    </div>
  </div>
</section>
