

<main>
  <div class="privacy-wrapper">
    <h1>Privacy Policy</h1>
    <h2>Privacy</h2>
    <p>Bread of the Mighty Food Bank respects the privacy of our site visitors and donors and handles any information you provide us with care.  It is our policy to keep all donor information confidential.  We will only request specific information from you to complete a transaction (donation, newsletter request, event ticket sales, etc.)  We will not rent sell or share this information with any third party. </p>
    <h2>What Information We Collect and How We Use It</h2>
    <p>Our registration process requires users to give us contact information such as name, email address and similar information.  We do not store sensitive information such as credit card or social security numbers.  We will use non-personally identifiable data (Aggregate Data) to improve the content of the site and to enable us to improve our service to the community</p>
    <h2>Other Web Sites</h2>
    <p>Our site contains links to other Web sites.  Please note that when you click on these links, you are entering another Web site for which Bread of the Mighty Food Bank has no responsibility.  We encourage you to read the privacy policy on all sites as they may differ from ours.</p>
    <h2>Security</h2>
    <p>Bread of the Mighty Food Bank has implemented security measures to help protect against the risk of loss, misuse and alteration of anyinformation under our control.  We protect your information by using (SSL) Secure lockets layer technology.  SSL encrypts your information in order to avoid decoding by unauthorized parties.  Nevertheless, such security measure may not prevent all loss or misuse of information.  Bread of the Mighty Food Bank is not responsible for any damages or liabilities relating to any such security failure.</p>
    <h2>Non-Discrimination</h2>
    <p>In accordance with federal law and the U.S. Department of Acriculture policy, this institution is prohibited from discriminating on the basis or race, color, national origin, sex, age or disability. Bread of the Mighty Food Bank, and USDA is an Equal Opportunity Employer. It is the policy of Bread of the Mighty Food Bank to provide opportunity in employment for all persons; to prohibit discrimination in employment based on race, color, religion, sex, national origin, age or disability and to promote the full realization of equal employment opportunity through a positive, continuing policy and practice.  To file a complaint of discrimination, write USA Director, Office of Civil Rights, 1400 Independence Ave SW, Washington DC 20250-9410 or call 866-632-9992 or 202-401-0216 (TDD).</p>
    <p>Bread of the Mighty Food bank is supported in part by the Alachua County Community Agency Partnership Program (CAPP).</p>
  </div>
</main>
