
	<main class="programs-main">
		<div class="programs-main-wrapper">
			<h1>Our Programs</h1>
			<div class="summer-food">
				<p>The Bread of the Mighty Food Bank Summer Food Program hosted 27 sites during the 2016 summer break and provided 45,000 free meals to school aged students through this program. This program collaborates with community partners to provide breakfast, lunch and a snack to kids during the summer months.</p>
				<img src="../img/summer-food.jpg" alt="Summer Food" class="summer-food-image">
			</div>
		</div>

		<div class="programs-main-wrapper">
			<div class="kids-cafe">
				<img src="../img/kids_cafe.png" alt="Kids Cafe" class="kids-cafe-image">
				<p>We launched our Bread of the Mighty Food Bank's Kids Cafe'in  October of 2007 with 4 locations serving snacks.  Today we have several programs and over 40 community partners.  Over 1 million meals and snacks have been served since 2007! In 2015-16, The Kid's Cafe provided 215,000 snacks to the children of our community. This program operates during the school year and works with existing after school programs to provide free drinks, fresh fruit and snacks to kids enrolled in a qualifying after school enrichment program during the school year. As the 2016-2017 school year begins,  BMFB will sponsor 14 Kid's Cafe sites which also provide mentoring, tutoring and homework assistance.</p>
			</div>
		</div>

		<div class="programs-main-wrapper">
			<div class="gainesville-harvest">
				<p>Gainesville Harvest operates under the umbrella of Bread of the Mighty Food Bank. The program has approximately 80 volunteers that pick-up unused food from local supermarkets & restaurants. Product is then delivered to 50+ local charitable organizations throughout our community. During 2015-2016  over 200,000 pounds of food was distributed.</p>
				<img src="../img/gainesville_harvest.jpg" alt="Gainesville Harvest" class="gainesville-harvest-image">
			</div>
		</div>

		<div class="programs-main-wrapper no-border">
			<div class="snap">
				<img src="../img/snap-program.jpg" alt="SNAP" class="snap-image">
				<p>The SNAP program provides individuals with help in applying for food stamps, Medicaid and cash assistance. SNAP offers nutrition assistance to millions of eligible, low-income individuals and families.  SNAP is the largest program in the domestic hunger safety net.  The Food and Nutrition Service (FNS) works with state agencies, nutrition educators, neighborhoods and faith-based organizations to assist with eligibility for nutrition assistance so informed decisions can be made when applying for the program to access benefits. FNS also works with state partners and community retailers to improve program administration and ensure integrity.</p>
			</div>
		</div>
	</main>

	<!--SNAP SCHEDULE-->
	<section class="snap-schedule">
		<h2>SNAP Schedule</h2>
		<div class="snap-table-wrapper">
			<table>
			  <tr>
			    <th>Location</th>
			    <th>Date</th>
			    <th>Time</th>
			  </tr>
			  <tr>
			    <td>Blessed Hope, Newberry</td>
			    <td>1st and 3rd Tuesdays</td>
			    <td>9:00 - 12:00</td>
			  </tr>
			  <tr>
			    <td>Fellowship Church, High Springs</td>
			    <td>Wednesdays</td>
			    <td>4:00 - 5:30</td>
			  </tr>
			  <tr>
			    <td>Spring Ridge</td>
			    <td>1st Wednesday</td>
			    <td>2:00 - 3:00</td>
			  </tr>
			  <tr>
			    <td>St. Francis House, Gainesville</td>
			    <td>2nd and 4th Thursdays</td>
			    <td>9:00 - 11:00</td>
			  </tr>
				<tr>
			    <td>Trenton Train Depot, Trenton</td>
			    <td>1st Thursday</td>
			    <td>9:00 - 11:00</td>
			  </tr>
				<tr>
			    <td>Bell Community Center, Bell</td>
			    <td>3rd Thursday</td>
			    <td>9:00 - 11:00</td>
			  </tr>
				<tr>
			    <td>Oak Park Church, Archer</td>
			    <td>Last Friday</td>
			    <td>9:00 - 12:00</td>
			  </tr>
				<tr>
			    <td>United Christian Services, Cross City</td>
			    <td>Last Monday</td>
			    <td>9:00 - 11:30</td>
			  </tr>
				<tr>
			    <td>Fellowship Hall, Bronson</td>
			    <td>1st Friday</td>
			    <td>9:00 - 12:00</td>
			  </tr>
				<tr>
			    <td>Joe Hathcock Community Ctr. Alachua</td>
			    <td>2nd and 4th Thursdays</td>
			    <td>9:00 - 10:30</td>
			  </tr>
			</table>
		</div>
	</section>
