  <div class="wish-wrapper">
    <h1>Wish List</h1>
    <h2>$1,000,000 NEW FACILITY, SHOWROOM AND OFFICE SPACE – Naming Opportunity</h2>
    <p>Bread of the Mighty (BMFB) currently occupies 20,000 square feet. A new facility would increase our space to 100,000 square feet which means we could triple the assistance we provide to the community ~ from 10 million pounds of food annually to 20 million pounds</p>
    <h2>$100,000 REFRIGERATOR TRUCK – Naming Opportunity</h2>
    <p>A new refrigerator truck would allow BMFB to provide more than just dry goods to our agency partners.  With a new refrigerator truck, produce and meat could also be delivered to our five county service area which currently includes seven (7) schools.</p>
    <h2>$100,000 SCHOOL PANTRIES – Naming Opportunity</h2>
    <p>We’re seeking funding to provide food to our School Pantry Partners.  Currently, we serve seven (7) schools in need.  With additional underwriting, we could increase that number to 15.  BMFB currently provides all of the funding for this program.  An underwriter would help defer the cost from BMFB and allow us to do more in the community.</p>
    <h2>$120,000 (3) REFRIGERATOR VAN  – Naming Opportunity</h2>
    <p>A new refrigerator van (est. cost $40,000 x 3) would allow BMFB to deliver, along with dry goods, specific meats and produce to the schools in need throughout our five county service area.</p>
    <h2>$40,000 REFRIGERATOR VAN – Naming Opportunity</h2>
    <p>A new refrigerator van (est. cost for one - $40,000) would allow BMFB to deliver, along with dry goods, specific meats and produce to the schools in need throughout our five county service area</p>
    <h2>$20,000 - 25,000   FORK LIFT - NEW</h2>
    <p>A new fork lift would assist in moving donated product in the warehouse that’s picked up daily from local distribution centers. </p>
    <h2>$15,000   FORK LIFT - USED</h2>
    <p>A used fork lift would assist in moving donated product in the warehouse that’s picked up daily from local distribution centers.</p>
    <h2>$9,000 PALLET JACKS</h2>
    <p>A total of nine (9) pallet jacks ($1,000 each) are needed. This includes one (1) for each truck in our fleet of BMFB vehicles AND three (3) to assist in the warehouse.</p>
  </div>
